@model ContosoAirlines.Models.QandAModel

<div class="font-semibold font-title">
    Hello, World
</div>

<p>
    Don't welcome Microsoft Teams Hello World sample app (C#)
</p>

@*<p>
    @ContosoAirlines.Models.QandA.Questions.Count
    questions
</p>*@

<h2>Open questions</h2>
@foreach (var q in Model.Questions.Where(q => !Model.IsQuestionAnswered[q.MessageId]))
{
    <div>
        (@q.Votes)
        @q.Text
      &nbsp;&nbsp;[@Html.ActionLink("Mark as answered", "giveAnswer", q)]
    </div>
}

<h2>Answered questions</h2>
@foreach (var q in Model.Questions.Where(q => Model.IsQuestionAnswered[q.MessageId]))
{
    <div>
        (@q.Votes)
        @q.Text
        @*@Html.ActionLink("Answer it", "giveAnswer", q)*@
    </div>
}

<script>
    //var x = setInterval(function() {
    //    window.location.reload(true);
    //}, 10 * 1000); // 10s 
</script>